<!DOCtype html>
<html lang="ko">
    <head>
        <meta charset="utf-8"/>
        <title>파일서버</title>
    </head>
    <body>
        <h1>공유파일목록</h1>
        <div>
            <form action="/upload" method="post" enctype="multipart/form-data">
                업로드 파일 <input type="file" name="upfile" />
                <button>업로드</button>
            </form>
        </div>
        <hr />
        {% for item in filelist %}
            <div><a href="{{item}}">{{item}}</a></div>
        {% endfor %}
    </body>
</html>